.visual .shape-image svg {
	width: 100%;
	height: 100%;
	transform: translateX(-15%);
}

/*fees*/
.block-fees .circle {
	position: relative;
	border: none;
	box-shadow: none;
}

.block-fees .circle.is-active {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}

.block-fees .circle svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  stroke-dashoffset: 420;
  stroke-dasharray: 420;
  transform: rotate(-90deg);
}

.block-fees .circle .amount,
.block-fees .circle .text,
.block-fees .info-text {
	display: block;
	opacity: 0;
}

.block-fees .circle .amount,
.block-fees .circle .text {
	transform: translateY(20px);
}
/*fees*/

/*delivery*/
.block-details__chart {
	position: relative;
	max-width: 592px;
	pointer-events: none;
}
.block-details__chart-graph {
	position: relative;
	margin-top: -50px;
	max-width: 592px;
	height: 592px;
}

.block-details__chart-in {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	width: 83.615%;
	background: #fff;
	transform: translate(-50%, -50%);
}

.block-details__chart-in:before {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.block-details__chart svg > g > g:first-child {
	display: none;
}
.block-details__chart svg > g > g:nth-child(2) > g:nth-child(2) {
	display: none;
}

.block-details.is-active .block-details__chart-item-in {
	opacity: 1;
}
.block-details.is-active .block-details__chart-item[data-index="1"] .block-details__chart-line {
	transform:  rotate(-45deg) scaleX(1);
}
.block-details.is-active .block-details__chart-item[data-index="2"] .block-details__chart-line {
	transform:  rotate(45deg) scaleX(1);
}
.block-details.is-active .block-details__chart-item[data-index="3"] .block-details__chart-line {
	transform:  rotate(-55deg) scaleX(1);
}
.block-details.is-active .block-details__chart-item[data-index="4"] .block-details__chart-line {
	transform:  rotate(45deg) scaleX(1);
}

.block-details__chart-item {
	position: absolute;
	font-size: 0;
	white-space: nowrap;
}

.block-details__chart-item-in {
	opacity: 0;
	transition: opacity 1s;
}

.block-details__chart-line {
	transition: transform 1s;
}

.block-details__chart-item[data-index="1"] {
	top: 0;
	left: 100%;
	transform: translate(-30px,10px);
}

	.block-details__chart-item[data-index="1"] .block-details__chart-line {
		position: absolute;
		top: 100%;
		right: 100%;
		margin-top: 25px;
		border-top: 2px solid #fff;
		width: 50px;
		transform:  rotate(-45deg) scaleX(0);
		transform-origin: left center;
	}

.block-details__chart-item[data-index="2"] {
	left: 100%;
	bottom: 0;
	transform: translate(-80px,0);
}

	.block-details__chart-item[data-index="2"] .block-details__chart-line {
		position: absolute;
		top: 100%;
		right: 100%;
		margin: -45px 5px 0 0;
		border-top: 2px solid #fff;
		width: 35px;
		transform:  rotate(45deg) scaleX(0);
		transform-origin: left center;
	}

.block-details__chart-item[data-index="3"] {
	left: 0;
	bottom: 0;
	transform: translate(50px,50px);
}

	.block-details__chart-item[data-index="3"] .block-details__chart-line {
		position: absolute;
		left: 0;
		bottom: 100%;
		margin: 0 0 60px 10px;
		border-top: 2px solid #fff;
		width: 55px;
		transform:  rotate(-55deg) scaleX(0);
		transform-origin: right center;
	}

.block-details__chart-item[data-index="4"] {
	top: 0;
	left: 0;
	transform: translate(-60px,-50px);
}

	.block-details__chart-item[data-index="4"] .block-details__chart-line {
		position: absolute;
		top: 100%;
		left: 0;
		margin: 110px 0 0 -10px;
		border-top: 2px solid #fff;
		width: 135px;
		transform:  rotate(45deg) scaleX(0);
		transform-origin: right center;
	}

.block-details__chart-title,
.block-details__chart-value {
	display: inline-block;
	vertical-align: top;
}

.block-details__chart-value {
	border-radius: 4px;
	width: 50px;
	height: 38px;
	color: #fff;
	background: #ffbf00;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	font-size: 19px;
	line-height: 38px;
	text-align: center;
	text-shadow: 2px 1px 1px rgba(0, 0, 0, .29);
}

.block-details__chart-title {
	font-size: 28px;
	line-height: 32px;
	font-weight: 700;
	padding: 3px 0 3px 12px;
}
/*delivery*/

.block-exchange__item {
	opacity: 0;
	transform: translateX(-20px);
}

.person-details .image-holder {
	position: relative;
	padding-right: 31px;
}

.person-details__socials {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 0;
}

.person-details__item:not(:last-child) {
	margin-bottom: 8px;
}

.person-details__link {
	display: block;
	opacity: 0.5;
	transition: opacity 0.25s;
}

.person-details__link:hover {
	opacity: 1;
}

.person-details__link .icon {
	font-size: 21px;
}

.block-speaks__cloud {
	transform: translateY(50%);
}

.block-speaks__cloud,
.block-speaks__box {
	opacity: 0;
}

.block-speaks .logos-list {
	margin-top: 40px;
}

.block-meet__circle {
	position: absolute;
	right: 2.4%;
	bottom: 8.5%;
	border-radius: 50%;
	width: 1.645%;
	background: #fff;
	transform: translate(50%, 50%) scale(0);
}

.block-meet__circle:nth-child(2) {
	right: .5%;
	bottom: 9%;
}

.block-meet__circle:before {
	content: '';
	display: block;
	padding-bottom: 100%;
	width: 100%;
}

@media screen and (max-width: 1024px) {
	.block-text__container,
	.visual__figure-in {
		opacity: 1 !important;
	}

	.block-exchange__circles,
	.block-news__circles {
		display: none;
	}
}

@media screen and (min-width: 1025px) {

	.visual h1 {
		opacity: 0;
	}

	.visual__figure {
		position: relative;
	}

	.visual__figure-in {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	/*.visual .image-holder img {
		opacity: 0;
		transform: translateX(150px);
	}*/

	.visual .image-holder.is-fixed img {
		position: fixed;
		top: 0;
	}

	/*block text*/
	.block-text__container {
		padding-top: 100px;
	}
	/*block text*/

	/*block market*/
	/*.block-market {*/
		/*padding: 100px 0;*/
	/*}*/

	.block-market__container {
		width: 100%;
	}

	.block-market__box,
	.block-market__item {
		opacity: 0;
	}
	.block-market__list {
		transform: translateY(50%);
	}
	/*block market*/

	/*support*/
	.block-support {
		padding: 100px 0;
	}

	.block-support__text {
		opacity: 0;
		transform: translateY(50%);
	}

	.block-support__item {
		opacity: 0;
	}
	/*support*/

	/*meet*/
	.block-meet .image-holder svg {
		width: 100%;
		transform: translateX(-3.5%);
	}

	.block-meet__subtitle {
		opacity: 0;
		will-change: opacity;
	}
	/*meet*/

	/*speaks*/
	.block-speaks .shape-image {
		height: auto;
		font-size: 0;
	}
	.block-speaks .shape-image svg {
		width: 100%;
	}

	.block-speaks__gap {
		position: absolute;
		right: 24.3%;
		bottom: 36.15%;
		border-radius: 50%;
		width: 48.346%;
		transform: translate(50%,50%);
	}

	.block-speaks__gap-inner {
		padding-bottom: 100%;
		border-radius: 50%;
		width: 100%;
		transform: scale(0);
	}

	.block-speaks__gap-in {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: rotate(-105deg);
	}

	.block-speaks__gap-in_right {
		transform: rotate(105deg);
	}

	.block-speaks__gap-left {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		padding-bottom: 50%;
		width: 100%;
	}

	.block-speaks__gap-left-in {
		position: absolute;
		top: 0;
		left: 0;
		padding-bottom: 100%;
		width: 100%;
	}

	.block-speaks__gap-left-in:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 7px solid #00447A;
		border-radius: 50%;
	}

	.block-speaks__box:last-child {
		margin-bottom: 0;
	}

	.block-speaks__details-in {
		padding: 30px 0;
	}
	/*speaks*/

	/*team*/
	.block-team .shape-image {
		transform: translateX(-3%);
	}
	.block-team .shape-image svg {
		width: 100%;
	}
	/*team*/

	/*exchange*/
	.block-exchange:before {
		display: none;
	}

	.block-exchange__circles {
		position: absolute;
		right: -17px;
		bottom: -10px;
		width: 396px;
		font-size: 0;
	}

	.block-exchange__circles svg {
		width: 100%;
	}
	/*exchange*/

	/*news*/
	.block-news:before {
		display: none;
	}

	.block-news__circles {
		position: absolute;
		right: -5px;
		bottom: 55px;
		width: 257px;
		height: 214px;
	}

	.block-news__circles svg {
		width: 100%;
	}
	/*news*/
}

@media screen and (max-width: 767px) {
	.block-details .image-holder {
		max-width: 200px !important;
    transform: translateX(-20%);
	}
	.block-details__chart-graph {
		height: 320px;
	}
	.block-details__chart-title {
		padding: 5px 0 5px 12px;
		font-size: 12px;
		line-height: 1.2;
	}

	.block-details__chart-value {
		width: 30px;
		height: 24px;
		font-size: 12px;
		line-height: 24px;
	}

	.block-details__chart-item[data-index="1"] {
    transform: translate(-30px, -15px);
  }
  	.block-details__chart-item[data-index="1"] .block-details__chart-line {
  		margin-top: 10px;
			width: 30px;
  	}

  .block-details__chart-item[data-index="2"] {
    transform: translate(-25px,20px);
  }
  	.block-details__chart-item[data-index="2"] .block-details__chart-line {
  		margin: -60px -20px 0 0;
  	}

  .block-details__chart-item[data-index="3"] {
    transform: translate(0px,55px);
  }

  .block-details__chart-item[data-index="4"] {
    transform: translate(-15px,-50px);
  }

  	.block-details__chart-item[data-index="4"] .block-details__chart-line {
  		margin: 50px 0 0;
  		width: 55px;
  	}
/*
	.block-details__chart-item[data-index="1"] {
    transform: translate(-50px, -40px);
  }
  	.block-details__chart-item[data-index="1"] .block-details__chart-line {
  		margin-right: -20px;
  	}
  	.block-details.is-active .block-details__chart-item[data-index="1"] .block-details__chart-line {
  	    transform: rotate(-60deg) scaleX(1);
  	}
  .block-details__chart-item[data-index="2"] {
    transform: translate(-60px,60px);
  }

  .block-details__chart-item[data-index="2"] .block-details__chart-title {
    white-space: normal;
  }
  */
}